@import 'tailwindcss';

:root {
  --background: hsl(20, 50%, 98%); /* Rose 50 */
  --foreground: hsl(14, 65%, 9%); /* Rose 900 */
  --font-sans: var(--font-red-hat-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  font-size: 16px;
  font-weight: 400;
}
